@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Mochiy+Pop+One&family=Oswald:wght@200;300;400;500&family=Poppins:wght@200;300;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #C70039;
    --bg-color:#DAF7A6 ;
    --text-color: #fff;
}

header{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 15px;
    color: var(--text-color);
    
}
header h1{
    font-weight: bold;
}
header span{
    color: var(--main-color);
    font-weight: bold;
}


body{
    background-image: url(images/bg.jpg);
    background-position: center ;
    background-size: cover;
    width: 100%;
    height: 100vh;
   
  
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.form{
    margin-top: 15px;
    width: 400px;
    height: 350px;
    background-color: var(--bg-color);
    border-radius: 7px;
    display: flex;
    justify-content:center;
    flex-direction: column;
   
    box-shadow: 0 0 20px 0 rgba(248, 241, 241, 0.1); 
}
#form-box{
    width: 70%;
    margin: auto;

}
#submit{
    width: 100px;
    height: 30px;
    margin: auto;
    background-color: var(--main-color);
    color: #fff;
    outline: none;
    border: none;
    text-transform: uppercase;
    border-radius: 7px;
}